<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljc.mapper.userMapper">

    <!--  private Integer userid;
    private String username;
    private String upass;  -->
    <insert id="insert" parameterType="users">
        insert into sm_users value (#{userid},#{username},#{upass})
    </insert>

</mapper>
